body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Dark theme styles */
  body.dark {
    background-color: #121212;
    color: #ffffff;
  }

  
.icon{
    cursor: pointer;
  }

.set-border{
  border-bottom: 1px solid #fff;
  margin-top:2px;
  width:100%;

  &:last-child{
    border-bottom: none;
  }
}

.chat-box{
  display:flex;
  flex-direction: column;
}